body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding-top: 80px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@import "./styles/colors";
h1 {
  color: $red;
}
a {
  text-decoration: none;
  color: $white;
}
a:visited {
  color: $white;
  text-decoration: none;
}

.inlineLink{
  color: $red
}

.inlineLink:visited{
  color: $red
}

.inlineLink:hover{
  text-decoration: underline;
}
