@import "../../styles/colors";
@import "../../styles/font";

.tableContainer {
  width: 95%;
  max-width: 800px;
  margin: 20px auto;
  text-align: center;

  border-collapse: separate;
  border-spacing: 0 1px;

  font-size: 0.9em;
  font-family: $fontStyle;
  font-weight: bold;

  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  font-size: medium;
  border-radius: 5px;
}
.heading {
  background-color: #da5959;
  color: whitesmoke;
  width: 30%;
  text-align: center;
  border-radius: 5px;
}

.deleteButton {
  border: none;
  background: transparent;
}
