@import "../../styles/colors";
@import "../../styles/font";

.boxes {
  width: 150px;
  height: 60px;
  text-align: center;
  margin: 0 auto;
  font-weight: bold;
  border-radius: 5px;
}
.boxes:hover.tooltip {
  display: block;
}

.tooltip {
  position: absolute;
  background-color: $grey;
  color: aliceblue;
  text-align: center;
  width: 150px;
  font-size: 0.8rem;
  padding: 0.5rem;
  border-radius: 2px;

  top: -5px;
  right: 105%;
}

// .tooltip {
//   display: none;
//   position: absolute;
//   top: 100%;
//   left: 0;
//   padding: 3px;
//   border: 1px solid black;
// }
