@import "../../../styles/colors";

.mobileNav {
  text-align: center;
  width: 50px;
  position: fixed;
  right: 0px;
  font-size: 28px;
  color: white;
  top: -20px;
}

.menuCont{
  background-color: $grey;
  font-size: 16px;
  position: fixed;
  top: 40px;
  right: -30px;
  list-style-type: none!important;
  padding-left: 5px;
  min-width: 130px;
  width: fit-content;
  text-align: center;
  border-radius: 0 0 0 4px
}

.menuItem{
  border-top: 2px solid $red;
  height: 40px;
  line-height: 40px;
}