@import "../../styles/colors";
@import "../../styles/shadow";

.card{
  width: 90%;
  max-width: 300px;
  margin: 0 auto;
  background-color: $softgrey;
  box-shadow: $shadow;
  margin-top: 2rem;
}

.icon{
  text-align: center;
  font-size: 120px;
  color: $grey;
  padding-top: 1rem;
}

.content{
  text-align: left;
  padding-left: 5px;
  font-size: 1rem;
  background-color: $lightred;
}

@media(max-width: 300px){
  .content{
    font-size: 0.8rem;
  }
}