@import "../../styles/colors";

.fullNav {
  position: fixed;
  width: 100vw;
  left: 0;
  top: 0;
  // background-color: $red;

  height: 80px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);

  background: linear-gradient(-45deg, #ee7752, #e73c7e, #da5959, #d52323);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.navIconContainer {
  position: absolute;
  left: 25px;
  top: 50%;
  transform: translateY(-50%);
  margin-top: 0;
}
.navIcons {
  padding-left: 2px;
  font-size: 1.5rem;
  color: $white;
}

.navList {
  position: absolute;
  right: 45px;
  top: 50%;
  transform: translateY(-50%);
  margin-top: 0;
  width: 150px;
  display: table;
}

.navItem {
  display: inline;
  padding-left: 20px;
  text-decoration: none;
  color: $white;
  display: table-cell;
}

.navHeader {
  color: $white;
  text-align: center;
  letter-spacing: 2px;
  font-size: 30px;
}
