@import "../../styles/colors";

.fullNav {
  position: fixed;
  width: 100vw;
  left: 0;
  top: 0;
  background-color: $red;
  height: 80px;
}
.navIconContainer {
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  margin-top: 0;
}
.navIcons {
  padding-left: 2px;
  font-size: 1.5rem;
  color: $white;
}

.navList {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  margin-top: 0;
}

.navItem {
  display: inline;
  padding-left: 10px;
  text-decoration: none;
  color: $white;
}

.navHeader {
  color: $white;
  text-align: center;
}
