$red: #da5959;
$lightred: #da5959;

// @mixin lightred {
//   background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
//   background-size: 400% 400%;
//   animation: gradient 15s ease infinite;
// }
// @keyframes gradient {
//   0% {
//     background-position: 0% 50%;
//   }
//   50% {
//     background-position: 100% 50%;
//   }
//   100% {
//     background-position: 0% 50%;
//   }
// }

$white: #f5f6fa;
$successGreen: #009432;
$lightGreen: #6ae794;
$failRed: #ea2027;
$grey: #353b48;
$warnOrange: #f0932b;
$green: #bdc581;
// $offwhite: #faf9f6;
$offwhite: #fffdfa;
$softgrey: #afafaf;
