$red: #da5959;
// $lightred: #da5959;
$lightred: #0c7739;
$white: #f5f6fa;
$successGreen: #009432;
$lightGreen: #6ae794;
$failRed: #ea2027;
$grey: #353b48;
$warnOrange: #f0932b;
$green: #bdc581;
// $offwhite: #faf9f6;
$offwhite: #fffdfa;
